<!-- include header -->
<%- include('_header') %>
    <!-- /include header -->


    <body>
        <br><br><br><br>
        <table class="table table-inverse">
            <thead>
                <tr>
                    <th>LocationID</th>
                    <th>Name</th>
                    <th>longitude</th>
                    <th>Latitude</th>
                    <th>edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i < locations.length; i++) { %>
                    <tr>
                        <td>
                            <%= locations[i]._id %>
                        </td>
                        <td>
                            <%= locations[i].name %>
                        </td>
                        <td>
                            <%= locations[i].longitude %>
                        </td>
                        <td>
                            <%= locations[i].latitude %>
                        </td>
                        <td>
                            <a href="/editview/<%= locations[i]._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i>edit</i></span>
                            </a>
                            <a class="btn border-shadow delete" data-id=<%=locations[i]._id%> >
                              <span class="text-gradient"><i class="fas fa-times"></i></span>
                          </a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>



    </body>

    <br>
    <!-- Footer -->
    <%- include('_footer') %>