<!-- include header -->
<%- include('_header') %>
    <!-- /include header -->


    <body>
        <br><br><br><br>
        <table class="table table-inverse">
            <thead>
                <tr>
                    <!-- <th>LocationID</th> -->
                    <th>Name</th>
                    <th>longitude</th>
                    <th>Latitude</th>
                    <th>hint</th>
                    <th>edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i < locations.length; i++) { %>
                    <tr>
                        <!-- <td>
                            <%= locations[i]._id %>
                        </td> -->
                        <td>
                            <%= locations[i].name %>
                        </td>
                        <td>
                            <%= locations[i].longitude %>
                        </td>
                        <td>
                            <%= locations[i].latitude %>
                        </td>
                        <td>
                            <%= locations[i].hint %>
                        </td>
                        <td>
                            <a href="/location/editview/<%= locations[i]._id%>" class="btn border-shadow update">
                                <span class="text-gradient"><i>edit</i></span>

                        </td>
                        <td>
                            <form action="/location/delete/<%= locations[i]._id %>" method="POST">
                                <div class="form-group ">
                                    <button type="submit " class="btn text-dark update ">Delete</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>



    </body>

    <br>
    <!-- Footer -->
    <!-- Footer -->
    <%- include('_footer') %>