<!-- include header -->
<div class="wrapper">
    <div class="header"><header>
        <title>The Hunt</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../favicon_io/apple-touch-icon.png" type="image/x-icon" />
        <link rel="stylesheet" href="styles/main.css" type="text/css" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <!-- <link rel="icon" href="./favicon_io (1)/android-chrome-192x192.png" type="image/icon type"> -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7PG8J2WKZ"></script>
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <nav class=" text-center py-3" id="nav">
            <a class=" navbar-brand " id="navIn " href="https://group-1-treasure.herokuapp.com/" style="color: #ffffff; font-weight: bolder; ">
                The Hunt: Group 1
          
            </a>
        </nav>
    </header></div>
    <div class="content">
      <div style="height:1000px;"><body>
        <br><br><br>
        <div class="card text-center">
            <% for(var i=0; i < locations.length; i++) { %>
                <div class="card-body" style="font-weight: bold; font-size: large;">Name:
                    <%= locations[i].name %>
                </div>
                <div class="card-header">

                    <p class="card-text">
                        Longitude:
                        <%= locations[i].longitude %>
                    </p>
                    <p class="card-text">
                        Latitude:
                        <%= locations[i].latitude %>
                    </p>
                    <h5 class="card-title">Hint:
                        <%= locations[i].hint %>
                    </h5>
                    <a href="/location/editview/<%= locations[i]._id%>" class="btn btn-outline-green">Edit  <i class="fas fa-edit"></i></a>
                    <form action="/location/delete/<%= locations[i]._id %>" method="POST">
                        <div class="form-group ">
                            <button type="submit " class="btn btn-green btn-rounded">Delete  <i class="fas fa-trash"></i></button>
                        </div>
                    </form>
                </div>

                <% } %>
        </div>

    </body></div>
    </div>
    <div class="footer"><%- include('_footer') %></div>
  </div>


    <!-- /include header -->


    

    <br>
    <br>
    <!-- Footer -->
    <!-- Footer -->
    