<!-- include header -->
<%- include('_header') %>
    <!-- /include header -->


    <body>
        <br><br><br>
        <div class="card text-center">
            <% for(var i=0; i < locations.length; i++) { %>
                <div class="card-body" style="font-weight: bold; font-size: large;">Name:
                    <%= locations[i].name %>
                </div>
                <div class="card-header">

                    <p class="card-text">
                        Longitude:
                        <%= locations[i].longitude %>
                    </p>
                    <p class="card-text">
                        Latitude:
                        <%= locations[i].latitude %>
                    </p>
                    <h5 class="card-title">Hint:
                        <%= locations[i].hint %>
                    </h5>
                    <a href="/location/editview/<%= locations[i]._id%>" class="btn btn-outline-green">Edit  <i class="fas fa-edit"></i></a>
                    <form action="/location/delete/<%= locations[i]._id %>" method="POST">
                        <div class="form-group ">
                            <button type="submit " class="btn btn-green btn-rounded">Delete  <i class="fas fa-trash"></i></button>
                        </div>
                    </form>
                </div>

                <% } %>
        </div>

    </body>

    <br>
    <br>
    <!-- Footer -->
    <!-- Footer -->
    <%- include('_footer') %>