<head>
    <title>Talk-2-Treasure-7</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <link rel="icon" href="./favicon_io (1)/android-chrome-192x192.png" type="image/icon type"> -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7PG8J2WKZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-Q7PG8J2WKZ');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <nav class=" text-center py-3" id="nav">
        <a class=" navbar-brand " id="navIn " href=" " style="color: #ffffff; font-weight: bolder; ">
            The Hunt: Group 1
            <!-- <img src="./favicon_io (1)/favicon-32x32.png " alt="Icon "> Game -->
        </a>
    </nav>
</head>

<body>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">Update User</h2>
                <span class="text-light">Use the below form to Update an account</span>
            </div>

            <!-- add user form -->
            <!-- form handling -->
            <form method="PUT" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="<%= user._id %>">
                        <input type="text" name="name" value="<%= user.name %>" placeholder="Mark Stoenis">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Email</label>
                        <input type="text" name="email" value="<%= user.email%>" placeholder="example@gmail.com">
                    </div>
                    <div class="form-group">
                        <label for="gender" class="text-light">Gender</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name="gender" value="Male" <%=u ser.gender=='Male' ? 'checked' : '' %>>
                            <label for="radio-2" class="radio-label">Male</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-3" name="gender" value="Female" <%=u ser.gender=='Female' ? 'checked' : '' %> >
                            <label for="radio-3" class="radio-label">Female</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gender" class="text-light">Status</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-4" name="status" value="Active" <%=u ser.status=='Active' ? 'checked' : '' %> >
                            <label for="radio-4" class="radio-label">Active</label>
                        </div>
                        <div class="radio inline">
                            <input type="radio" id="radio-5" name="status" value="Inactive" <%=u ser.status=='Inactive' ? 'checked' : '' %> >
                            <label for="radio-5" class="radio-label">Inactive</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>

                </div>
            </form>

        </div>
    </main>
    <script type="module " src="./scripts/main.js "></script>
</body>
<br>
<!-- Footer -->
<footer class="page-footer " id="foot">

    <!-- Copyright -->
    <div class=" text-center py-3 ">© 2021 Copyright:

        <a href="https://github.com/Saikrishna1545/talk2-group1 ">
            <i class="fab fa-github "></i> GitHub</a>
        <div>
            <a href="https://analytics.google.com/analytics/web/?utm_source=marketingplatform.google.com&utm_medium=et&utm_campaign=marketingplatform.google.com%2Fabout%2Fanalytics%2F#/p262098986/realtime/overview?params=_u..nav%3Ddefault
                    "><i class="fas fa-chart-bar "></i>Google Analytics</a></div>
    </div>
    <!-- Copyright -->
</footer>
<!-- JQuery -->
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js "></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js "></script>
<!-- MDB core JavaScript -->
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js "></script>
<script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js "></script>